# Ignore the build and lib but not directories
!/build
build/*
!/lib
lib/*


# ede
.deps
\Project.ede


# Ignore my personal stuf
private-notes

# Ignore any executables but not directories
!/bin
bin/*


# Object files
*.o